<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="classicalBean"
          class="org.sergei.spring.lesson_03.ClassicalMusic">
    </bean>

    <bean id="jazzBean"
          class="org.sergei.spring.lesson_03.JazzMusic">
    </bean>


    <bean id="musicPlayerBean"
          class="org.sergei.spring.lesson_03.MusicPlayer">
      <property name="musicList">
          <list>
              <ref bean="classicalBean"/>
              <ref bean="jazzBean"/>
          </list>
      </property>
    </bean>


</beans>